<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>玻璃指数管理系统</title>
		<link rel="stylesheet" href="utilLib/bootstrap.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="lib/vue.js"></script>
		<script src="lib/jquery-3.0.0.js"></script>
		<script src="lib/bootstrap.min.js"></script>
		<script src="lib/echarts.min.js"></script>
		
	</head>
	<body>
		<section id="app">
		<header class="layout_top_header">玻璃指数管理系统<span class="header_right" style="float:right;margin-right:50px">{{userName}}</span></header>
			<nav class="layout_left_menu">
				<ul id="menu">
					<li class="childUlLi" @click="signIndex()">
						<a href="#"><i class="glyph-icon icon-home"></i>登陆</a>
					</li>
					<li class="childUlLi" @click="openIndex()">
						<a href="#"><i class="glyph-icon icon-add"></i>期初指数</a>
					</li>
					<li class="childUlLi" @click="upData()">
						<a href="#"><i class="glyph-icon icon-location-arrow"></i>同步指数</a>
					</li>
				</ul>
			</nav>
			<section id="layout_right_content" class="layout_right_content">
				<div class="mian_content">

					<!-- 登陆页面开始 -->
					<div id="signIn" v-if="islogin !='ok'">
						<div class="div_from_aoto">
						    <form>
						        <div class="control-group">
						            <label class="laber_from">用户名</label>
						            <div class="controls" ><input class="input_from" type="text" placeholder=" 请输入用户名" v-model="loginModel.phone"><p class=help-block></p></div>
						        </div>
						        <div class="control-group">
						            <label class="laber_from">密码</label>
						            <div  class="controls" ><input class="input_from" type="text" placeholder=" 请输入密码" v-model="loginModel.password"><p class=help-block></p></div>
						        </div>
						               <div class="control-group">
						            <label class="laber_from" ></label>
						            <div class="controls" ><button id="login" class="btn btn-success" style="width:120px;" @click="login">登陆</button></div>
						        </div>
						    </form>
						</div>
					</div>
					<!-- 登陆页面开始结束 -->

					<div id="page_content">
					
						<!--  具体内容开始-->
						<div class="container" id="openIndex" v-if="islogin == 'ok'">
							<div class="col-md-12">
								<form >
									<table class="table table-hover">
										<thead>
											<tr>
												<th>序号{{msg}}</th>
												<th>名称</th>
												<th>日期</th>
												<th>期初指数</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody class="text-center">
											<tr>
												<td><input type="text" name="" readonly="true" placeholder=" 请勿输入" v-model="item.Id"></td>
												<td><input type="text" name="" placeholder=" 输入名称" v-model="item.IndexName"></td>
												<td><input type="text" name="" placeholder=" 格式：XXXX-XX-XX" v-model="item.StartDate"></td>
												<td><input type="text" name="" placeholder=" 输入指数" v-model="item.IndexNum"></td>
												<td><input type="button" class="btn btn-success" @click="addIndex()" value="添加" style="width: 170px"</td>
											</tr>
											<tr v-for="item in items" id="indexItems">
												<td><input type="text" disabled readonly="true" class="readonly" v-model="item.Id"></td>
												<td><input type="text" disabled v-model="item.IndexName"></td>
												<td><input type="text" disabled v-model="item.StartDate"></td>
												<td><input type="text" disabled v-model="item.IndexNum"></td>
												<td>
													<button type="button" class="btn btn-primary" @click="changeIndex(item)">修改</button>
													<button type="button" class="btn btn-danger" @click="deleteIndex(item)">删除</button>
													<button type="button" class="btn btn-warning" @click="indexInfo(item)">详情</button>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
						<!--  具体内容结束-->

						<!-- 图表部分开始 -->
						<div id="eCharts">
							<i class="glyph-icon icon-return" style="position:absolute;right:50px;top:10px;cursor:pointer" @click="close()"></i>
							<div id="showCharts" style="width: 1500px;height: 600px;margin:100px auto">
								<script src="src/showCharts.js"></script>
							</div>
						</div>
						<!-- 图表部分开始 -->
						
			        </div>
		        </div>
			</section>
		</section>
		<!-- main页面模版开始 -->

		<!-- main页面模版结束 -->
		<!-- addIndex模版开始 -->
			
		<!-- addIndex模版结束 -->
		<footer class="layout_footer">
			Copyright © 2016 - 快米科技
		</footer>
		<script src="src/index.js"></script>
	</body>
</html>
