<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>玻璃指数管理系统</title>
		<link rel="stylesheet" href="utilLib/bootstrap.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="lib/vue.js"></script>
		<script src="lib/vue-router.js"></script>
		<script src="lib/jquery-3.0.0.js"></script>
		<script src="lib/bootstrap.min.js"></script>
		<script src="lib/echarts.min.js"></script>
		
	</head>
	<body>
		<header class="layout_top_header">玻璃指数管理系统</header>
		<section id="app" style="width:100%;height:100%;">
			<nav class="layout_left_menu">
				<ul id="menu">
					<li class="childUlLi" @click="signIndex()">
						<a href="#"><i class="glyph-icon icon-home"></i>登陆</a>
					</li>
					<li class="childUlLi" @click="openIndex()">
						<a href="#"><i class="glyph-icon icon-add"></i>初期指数</a>
					</li>
					<li class="childUlLi" @click="upData()">
						<a href="#"><i class="glyph-icon icon-location-arrow"></i>同步指数</a>
					</li>
				</ul>
			</nav>
			<section id="layout_right_content" class="layout_right_content">
				<div class="mian_content">
					<div id="page_content" style="width: 100%;height: 100%;">
						<div class="container" id="openIndex" v-if="signIn" style="width:100%">
							<div class="col-md-12">
								<form >
									<table class="table table-hover">
										<thead>
											<tr>
												<th>序号</th>
												<th>名称</th>
												<th>日期</th>
												<th>期初指数</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody class="text-center">
											<tr>
												<td><input type="text" name="" v-model="item.id"></td>
												<td><input type="text" name="" v-model="item.name"></td>
												<td><input type="text" name="" v-model="item.date"></td>
												<td><input type="text" name="" v-model="item.index"></td>
												<td><button type="button" class="btn btn-success" @click="addIndex()" style="width:113px">添加</button></td>
											</tr>
											<tr v-for="item in items" id="indexItems">
												<td><input type="text" disabled class="readonly" value="{{item.id}}"></td>
												<td><input type="text" disabled class="readonly" value="{{item.name}}"></td>
												<td><input type="text" disabled class="readonly" value="{{item.date}}"></td>
												<td><input type="text" disabled class="readonly" value="{{item.index}}"></td>
												<td>
													<button type="button" class="btn btn-primary" @click="changeIndex(item)">修改</button>
													<button type="button" class="btn btn-danger" @click="deleteIndex(item)">删除</button>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>	
						<div id="signIn" v-if="!signIn">
							<div class="div_from_aoto" style="width: 500px;">
							    <FORM>
							        <DIV class="control-group">
							            <label class="laber_from">用户名</label>
							            <DIV  class="controls" ><INPUT class="input_from" type=text placeholder=" 请输入用户名"><P class=help-block></P></DIV>
							        </DIV>
							        <DIV class="control-group">
							            <LABEL class="laber_from">密码</LABEL>
							            <DIV  class="controls" ><INPUT class="input_from" type=text placeholder=" 请输入密码"><P class=help-block></P></DIV>
							        </DIV>
							               <DIV class="control-group">
							            <LABEL class="laber_from" ></LABEL>
							            <DIV class="controls" ><button class="btn btn-success" style="width:120px;" >确认</button></DIV>
							        </DIV>
							    </FORM>
							</div>
						</div>
						<div id="eCharts" style="position:fixed;top:0;left:0;background:#ddd;width:100%;height:100%;opacity: 0.9;display:none" >
							<i class="glyph-icon icon-return" style="position:absolute;right:50px;top:10px;cursor:pointer" @click="close()"></i>
							<div id="showCharts" style="width: 1500px;height: 800px;margin:100px auto">
								<script src="src/showCharts.js"></script>
							</div>
						</div>
			        </div>
		        </div>
			</section>
		</section>
		<!-- main页面模版开始 -->

		<!-- main页面模版结束 -->
		<!-- addIndex模版开始 -->
			
		<!-- addIndex模版结束 -->
		<footer class="layout_footer">
			Copyright © 2016 - 快米科技
		</footer>
		<script src="src/index.js"></script>
	</body>
</html>
