input{
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-left:10px;
    height: 34px;
    width: 200px;
}
input:focus{
    border:1px solid rgb(55, 182, 238);;
    box-shadow: 0 0 2px rgb(33, 162, 238);
    -webkit-box-shadow: 0 0 2px rgb(33, 162, 238);
    -moz-box-shadow: 0 0 2px rgb(33, 162, 238);
}
.div_from_aoto{
    margin-left: auto;
    margin-right: auto;
    padding-left:10px;
    margin-top: 30px;
    width: 500px;
}
.laber_from{
    width: 100px;
    float: left;
    line-height: 35px;
    color: #222;
    font-weight: normal;
}
.control-group{
    padding-bottom: 10px;
}
.input_select{
    width: 100px;
    height: 30px;
    cursor: pointer;
}
th{
	text-align: center;
}
.readonly{
    /*background: #ccc;*/
}
#signIn{
    position:absolute;
    z-index:999;
    width:100%;
    height:100%;
    background: #fff;
    display:block;
}
.indexInfoTitle span{
    font-weight:bold;
    margin-right: 40px;
}
.companyList{
    display:none;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 700px;
    height: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background:#eee;
    overflow-x: hidden;
    overflow-y:scroll;
}